ul {
    list-style-type: none;
    padding: 0;
    background-image: linear-gradient(to right, darkblue 0%, blue 100%);
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: white;
}